* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  display: flex;
  /*background-color: #EAF9E7;*/
}
li {
  list-style: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    display: none !important;
  }
}

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/

/* Hide action buttons when .actions-hidden is on the table */
#datatablesSimple.actions-hidden .edit-btn,
#datatablesSimple.actions-hidden .delete-btn {
  display: none !important;
}
