@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

.navbar {
  background-color: #f8f9fa;
}

.navbar-brand {
  display: flex;
  text-shadow: 3px 1px 6px #190960;
  align-items: center;
}

.navbar-brand img {
  height: 30px;
  margin-right: 5px;
}

.navbar .nav-link {
  color: #190960 !important;
  font-weight: bold;
}

#hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  background-image: url("../Assets/BACKGROUND/blur_1.jpg");
}

#topTraining {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, #190960, rgba(16, 12, 12, 0.8)),
    url("../Assets/bg.jpg");
}

.user_box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-flex.align-items-center {
  align-items: center !important;
}

.btn.rounded-circle.p-0 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  padding: 0;
}

.fa-user-tie {
  font-size: 1.5rem; /* Adjust as needed */
  line-height: 1;
}

.card.col-lg-2 {
  min-height: 250px;
  /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card.col-lg-2 .card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
